<div data-aos="fade-right" data-aos-duration="800" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="card text-bg-dark">
            <img src="https://www.apple.com/v/iphone-14-pro/c/images/overview/hero/hero_endframe__dtzvajyextyu_large.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Ejemplo AOS</h5>
              <p class="card-text">Imagen de prueba para el testeo de la librería</p>
              <p class="card-text"><small>Gitub: Byaaron11</small></p>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="card text-bg-dark">
            <img src="https://www.apple.com/v/macbook-air-m1/c/images/overview/magic_keyboard__pewz4toce72a_large.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Titulo de relleno</h5>
              <p class="card-text">Texto de prueba, texto de relleno</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card text-bg-dark">
            <img src="https://www.apple.com/v/ipad-pro/aj/images/overview/display-liquid-retina/liquid_retina_endframe__ba3q4hiulfxe_large.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Titulo 3</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex beatae sint modi distinctio earum, dolor consequuntur praesentium impedit dolore, vero laboriosam porro ipsum eos nobis maiores asperiores ipsam, molestias incidunt!</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div style="height: auto" class="container-fluid">
    <h1 data-aos="fade-down" data-aos-easing="ease-in-sine" class="text-center p-4 display-1">Ejemplo de AOS</h1>
    <div class="row p-5">
        <div class="col-6">
            <img data-aos="flip-left" class="img-fluid rounded" src="https://www.apple.com/v/displays/a/images/overview/hero/hero__fkyiyagbj7yy_large.jpg" />
        </div>
        <div data-aos="zoom-in-up" data-aos-duration="1000" class="col-6 bg-primary rounded-4 text-justify">
            <p style="text-align: justify;" class="p-3 text-light">
              Con las innovadoras funciones de Safari vas a disfrutar aún más de internet. Las prestaciones de seguridad integradas protegen tu información y tu Mac. La nueva página de inicio te permite guardar, buscar y compartir tus favoritos en un suspiro. Además, las sugerencias de Siri incluyen marcadores, enlaces de tu lista de lectura, Pestañas de iCloud, enlaces recibidos en Mensajes y mucho más.
            </p>
        </div>
    </div>

<div class="row d-flex justify-content-center mt-5 mb-5">
  <div data-aos="fade-right" data-aos-easing="ease-in-sine" class="card m-2" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/72/1b/7a/721b7ace987f64cab82d511b7837a8cc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p data-aos="flip-right" class="card-text">En iOS 16 la pantalla de bloqueo te da mucha libertad. Puedes superponer tus fotos al texto para que tengan el protagonismo que merecen, 
        seguir de cerca los anillos de Actividad o enterarte de todo con información en tiempo real de las apps que más usas.</p>
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-easing="ease-in-sine" class="card m-2" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/7a/4d/1f/7a4d1f8f2a5a5387115ac167c1780737.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p data-aos="flip-down" class="card-text">El nuevo iPad viene dispuesto a conquistarte. Tiene potencia de sobra para hacer realidad lo que te propongas. Su pantalla Liquid Retina de 10,9 pulgadas con diseño de borde a borde es perfecta para trabajar, darle cancha a tus ideas y disfrutar de las videollamadas. </p>
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
  <div data-aos="fade-left" data-aos-easing="ease-in-sine" class="card m-2" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/6b/c3/fa/6bc3fa10b277fa6caf3c2d57e9f8747c.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p data-aos="flip-left" class="card-text">El MacBook Pro de 13 pulgadas incluye el nuevo chip M2, que lo convierte en un titán. Ofrece hasta 20 horas de autonomía1 y un sistema de refrigeración activa para mantener un ritmazo incluso en tareas muy complejas.</p>
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <table *ngIf="hackers" class="table table-info text-center shadow">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr data-aos="fade-up" data-aos-duration="750"  *ngFor="let jeker of hackers" >
                    <td>{{jeker.name}}</td>
                    <td>
                        <img data-aos="zoom-in" data-aos-delay="500" width="300" class="img-thumbnail" src="{{jeker.picture}}"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>
</div>

